* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img,
picture,
video,
iframe {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

svg {
  display: block;
  fill: currentColor;
}

blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

form,
label,
input,
button,
select,
textarea {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  appearance: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c-background);
  color: var(--c-white-fonts);
  font-size: 100%;
  font-family: 'Nunito Variable', sans-serif;
}
